/* .container-md{
    height: 50px;
    border: 2px solid blue;
    background-color: aqua;
}

.container-fluid{
    border: 2px solid blue;
    background-color: aqua;
} */

/* .row{
    border: 2px solid red;
}

.col-1{
    border: 1px solid black;
    background-color: lightblue;
} */


.img .slide{
    height: 500px;
}